.admin {
  background-color: black;
}

/* Table Portion */

.row {
  max-height: 350px;
  overflow-y: scroll;
  margin-bottom: 30px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #191c24;
  background-clip: border-box;
  border: 1px solid rgba(36, 35, 35, 0.125);
  margin: 0px 20px;
  border-radius: 10px;
}

.card .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  border-radius: 10px;
  border: 1px solid #383b38;
}

.card .card-title {
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Helvetica";
  margin: 10px 0px 0px 10px;
}

h4 {
  font-size: 1.125rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  margin-bottom: 0;
  color: #6c7293;
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

table {
  box-sizing: border-box;
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
thead {
  display: table-header-group;
  vertical-align: start;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: middle;
  border-color: inherit;
  border-bottom: 2px solid #2c2e33;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #2c2e33;
  color: #eeeeee;

}
th {
  font-size: 0.875rem;
  line-height: 0.1;
  white-space: nowrap;
  display: table-cell;
  padding: 5px 5px;
}

.form-check {
  min-height: 18px;
  padding-left: 1.25rem;
}
.form-check {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 0;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 15px;
  display: table-cell;
}

.table td img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  background: rgb(159, 210, 238);
}

img {
  vertical-align: middle;
  border-style: none;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

tbody tr td .approved {
  font-size: 5px;
  font-family: "Helvetica";
  color: rgb(172, 172, 172);
}
.delete {
  font-size: 0.875rem;
  font-family: "Helvetica";
  color: red;
  cursor: pointer;
}
.notApproved {
  font-size: 0.875rem;
  font-family: "Helvetica";
  color: #fc424a;
  border: 1px solid #fc424a;
  text-align: center;
  cursor: pointer;
}
.isApproved {
  font-size: 0.875rem;
  font-family: "Helvetica";
  color: #00d25b;
  border: 1px solid #00d25b;
  cursor: pointer;
}
.edit {
  font-size: 10px;
  font-family: "Helvetica";
  color: blue;
}

.tableTitle {
  width: 250px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.createModel {
  margin: 10px;
  color: rgb(0, 224, 255);
  background: "black";
  /* border: 1px solid rgb(0, 224, 255); */
  /* width: 50% */
}

.createModelText {
  padding: 5px;
  font-size: 0.9rem;
  font-family: "Helvetica";
  /* color: rgb(0, 224, 255); */
  color:"black";
  text-transform: capitalize;
  cursor: pointer;
  border-radius:  "5px";
  background-color: "black";
}

.createModelText:hover {
    color: "blue"
}

.noDataCreateModel {
  margin: 20px;
  color: rgb(0, 224, 255);
  /* border: 1px solid rgb(0, 224, 255); */
  /* width: 50%; */
}

.noDataCreateModelText {
  margin: 5px;
  font-size: 0.875rem;
  font-family: "Helvetica";
  color: rgb(148, 166, 169);
  text-transform: capitalize;
  cursor: pointer;
}


.tableRow {
  position: sticky;
  top : 0;
  z-index: 6

}