.image-popup > img {
    width: 700px;
    height: 100%;
}

button {
    text-decoration: none;
    border:0px solid white
}

@media screen and (max-width: 350px) {
    h2 {
      font-size: var(--mobile_text_size);
      font-family: var(--mobile_font_family);
      color: var(--mobile_text_color);
      font-style: normal;
      font-weight: var(--mobile_text_weight);
      line-height: 1.5;
      text-align: left;
      text-align: start;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      word-break: normal;
      word-spacing: normal;
      white-space: normal;
      line-break: auto;
      word-wrap: break-word;
      opacity: 10;
    }

    .image-popup >img {
        width: 280px;
        height: 250px;
    }


}