

.main{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    

}

.center{
    margin:  auto;
    width: 100%;
    border-radius: 5px;
    position: relative;
    /* padding-top: 10px;
    padding-bottom: 50px;
    background: #313133; */
    
    
}


.center .btns{
    display:flex;
    justify-content: center;
    padding: 40px 20px ;
}


.a1 {
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica";
    background-color: #2981bc;
    border-radius: 2px;
    border: 1px solid #2981bc;
    cursor: pointer;
}

.a2 {
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica";
    background-color: #2981bc;
    border-radius: 2px;
    border: 1px solid #2981bc;
    cursor: pointer;
}

.a2 {
    background: #34495e
}

.center .header {
    text-align: center;
    font-size: 40px;
    color:white;
    padding: 5px 0 20px 0;
    font-family: "Helvetica",;
}

form input {
    height: 45px;
    width: 200px;
    font-size: 16px;
    background: none;
    border: 1px solid #666666;
    border-radius: 2px;
    padding: 0 10px;

    margin-left: 35px;
    outline: none;
    color: white;

}
::placeholder {
    color: #7dbde8;
}
form input.lastname{
    width: 36%;
    margin-top: 20px;
    margin-left: 20px;
}
form input.firstname{
    width: 36%;
    margin-top: 20px
}

form input.email{
    width: 80%;
    margin-top: 20px
}

form input.username{
    width: 80%;
    margin-top: 20px
}


form input.password2{
    width: 36%;
    margin-left: 20px;
    margin-top: 20px;
}
form input.password1{
    width: 36%;
    margin-top: 20px;
}




form input[type="submit"]{
    margin: 10px 0 40px 35px;
    width: 80%;
    height:50px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background: #2981bc;
    border: 1px solid #2573a7

}

form input[type="submit"]:hover{
    background: #2990d1;
    transition: .5s;
}

form input.loginUsername{
    width: 80%;
    margin-top: 20px
}

form input.loginPassword{
    width: 80%;
    margin-top: 20px
}

.center .header1{
    padding-bottom: 10px;
}
.center .signup-form{
    display: none;
}

.form{
    text-align: center;
}

.center2{
    margin:10px auto;
    width: 50%;
    border: 1px solid #2990d1;
    border-radius: 5px;
    position: relative;
    background: #191c24;
    /* min-height: 80vh; */

}




@media screen and (max-width: 750px) {
    .center{
        width: 100%;
    }
    .center2{
        width: 100%;
    }
    .center .btns {
        padding: 10px 5px;
    }
    .a1{
        padding: 5px 55px;
        font-size:16px;

    }
    .a2{
        padding: 5px 55px;
        font-size:16px;
        
    }
    .center .header {
        font-size: 20px;
        
    }
    form input {
        height: 25px;
        width: 126px;
        font-size: 10px;
        padding: 0 5px;
    
        margin: auto ;
    
    }

    form input.lastname{
        width: 36%;
    }
    form input.firstname{
        width: 36%
     }

    form input.email{
        width: 80%;
    }
    form input.username{
        width: 80%;
    }
    form input.password2{
        width:36%
    }
    form input.password1{
        width:36%
    }
    
 
    
    form input[type="submit"]{
        margin: 10px;
        width:80%;
        height:25px;
        font-size: 16px;
    
    }
    form input.loginUsername{
        width:80%
    }
    
    form input.loginPassword{
        width:80%
    }
}