.gridHeader {
    margin: 20px 150px;

}

.gridIcon{
    padding-top: 10px;
}

.input {
    /* height: 5p; */
    /* margin: 0px;
    padding: 0px; */


}


.paperHeader {
    margin: 20px auto;
    min-height: 90%vh;

}
.linkText {
    text-decoration: none;
}
.text {
    padding-top: 5px;
}
.button {
    padding-top: 10px;
}
.form {
    margin: 0;
    padding: 0;
}

.mainGrid{
    background-color: green;
}

@media screen and (max-width: 750px) {
    .gridHeader {
        margin: 0px 10px;
    
    }
    
    .paperHeader {
        margin: 0px 10px;
    
    
    }
}