
/* table {
    width: 100%;
} */

/* img {
    width: 70%;
    height: 150px;
    border-radius: 10px;
    
}

.image:hover {
    width: 85%;
    height: 150px;
} */

.button{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px
}

td .button{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px
}
table {
    background-color: rgb(228, 212, 212);
    margin:0px;
    padding:10px;
    width:500px;
}
.user_table {
    padding-bottom: 50px;
    padding:10px;
    margin:0px;
    width:100%;
}
.user_scroll {
    /* margin:30px 0px 0px 10px; */
    height: 250px;
    overflow-y: auto;
    display: block;
    font-size: 10px;
}

.user_scroll > thead {
    width: 100%;
}

.user_table_text{
    padding: 10px 0px 0px 10px;
}

.user_header{
    background-color: #6470da;
    color: #fff;
}

td:first-child{
    width: 40%;
}
th:first-child{
    width: 40%;
}

.link-text {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .user_table {
        padding-bottom: 50px;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        table-layout: fixed;

    }
    table {
        width:100%;
        padding-left: 0px;

    }
    .user_scroll {
        margin:0px 0px 0px 0px;
        width: 220px;
        height: 250px;
        overflow-y: auto;
        display: block;
        font-size: 10px;
    }
    
    .user_scroll > thead {
        width: 100%;
    }
    
    .user_table_text{
        padding: 10px 0px 0px 10px;
        color:black;
    }
    
    .user_header{
        background-color: #0f21c7;
        color: rgb(255, 252, 252);
    }
    td:nth-child(1){
        width: 40%;
    }
    th:nth-child(1){
        width: 40%;
    }


    
}