
.grid-shop{
  padding-top: 0;
  padding: 20px;
  background-color: #e0e7e9ee;
}
 

.image-grid{
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius:10px;
  height: 150px;
  width:50px;
  
}

.image-grid > img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.profile-info > h2{
  font-weight: 600;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  margin:0px;
  color:black
}

.name > h1 {
  color: gray;
  font-weight: 800;
  font-size: 30px;
  background-color: white;
  padding:0px;
  margin:0px;
}

.profile-info{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.profile-grid-detail {

  margin-bottom: 10px;
  /* background-color: red; */
  border-radius:10px;
  /* border: 1px solid rgb(28, 8, 209); */
  background: white;
  padding: 10px;
}

.profile-detail{
  display: flex;
  flex: 1;
  flex-direction:column;
  justify-content: space-between;
}
.profile-detail-edit{
  width: 100%;
}

.profile-detail > h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.profile-full-detail{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 5px;

}

.profile-approved{
  background-color: blue;
  /* margin: 10px; */
  padding: 5px 10px;
  border-radius:5px;
  color: white;
}

.profile-not-approved{
  background-color: red;
  /* margin: 10px; */
  padding: 3px 10px;
  border-radius:5px;
  color: white;
}

.profile-request{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 15px;

}
.request-label{
  font-size: 20px;
  font-weight: 600;
}



.profile-request-button{
  background-color: rgb(27, 179, 13);
  /* margin: 10px; */
  padding: 3px 10px;
  border-radius:5px;
  color: white;
}

.profile-table-header{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid gray;
  
}



.profile-table-header-title{
  flex:1;
  /* margin:10px; */
  padding:3px;
  /* border: 1px solid gray; */
}
 
.profile-table-header-created{
  flex: 0.3;
  /* margin:10px; */
  padding:3px;
  /* border: 1px solid gray; */
}
.profile-table-header-approved{
  flex: 0.3;
  /* margin:10px; */
  padding:3px;
  /* border: 1px solid gray; */
}
.profile-table-header-edit{
  flex: 0.3;
  /* margin:10px; */
  padding:3px;
  /* border: 1px solid gray; */
}
.profile-table-header-delete{
  flex: 0.3;
  /* margin:10px; */
  padding:3px;
  /* border: 1px solid gray; */
}


.profile-table-header-title > h2{
  font-size: 16px;

}

.profile-table-header-created > h2{
  font-size: 16px;

}
.profile-table-header-approved > h2{
  font-size: 16px;

}
.profile-table-header-edit > h2{
  font-size: 16px;

}
.profile-table-header-delete > h2{
  font-size: 16px;

}


  @media screen and (max-width: 750px) {
    h2 {
      font-size: var(--mobile_text_size);
      font-family: var(--mobile_font_family);
      color: var(--mobile_text_color);
      font-style: normal;
      font-weight: var(--mobile_text_weight);
      line-height: 1.5;
      text-align: left;
      text-align: start;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      word-break: normal;
      word-spacing: normal;
      white-space: normal;
      line-break: auto;
      word-wrap: break-word;
      opacity: 10;
    }
  
    .profile-full-detail > label{
      font-size: 13px;

    }
    .profile-full-name{
      font-size: 13px;
    }
  
    .profile-approved{
      background-color: blue;
      font-size: 13px;
      /* margin: 10px; */
      padding: 3px 10px;
      border-radius:5px;
      color: white;
    }
    
    .profile-not-approved{
      background-color: red;
      /* margin: 10px; */
      font-size: 13px;
      padding: 3px 10px;
      border-radius:5px;
      color: white;
    }

    .profile-table-header-title > h2{
      font-size: 13px;

    }

    .profile-table-header-created > h2{
      font-size: 13px;

    }
    .profile-table-header-approved > h2{
      font-size: 13px;

    }
    .profile-table-header-edit > h2{
      font-size: 13px;

    }
    .profile-table-header-delete > h2{
      font-size: 13px;

    }
  }
  